@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("./variables.css");
@import url("./reset.css");

html {
	font-family: "Poppins", sans-serif;
}

.App {
	min-height: 100vh;
}

.button-link {
	color: unset;
	text-decoration: none;
}

.category-list .MuiImageListItemBar-titleWrap > * {
	white-space: unset;
}

.category-list .MuiImageListItemBar-actionIcon {
	padding: 0 16px 12px;
}

.category-list-item .MuiImageListItemBar-actionIcon,
.category-list-item .MuiImageListItemBar-titleWrap {
	padding: 0;
}

.category-list-item .MuiImageListItemBar-titleWrap {
	font-weight: bold;
}

.category-list-item img {
	height: 10rem;
}

.category-list button {
	padding: 4px 12px;
	text-transform: capitalize;
	font-size: 0.8rem;
}

input[name="question-option-radio-group"],
.MuiRadio-root.MuiRadio-root {
	display: none;
}

.disabled-link {
	pointer-events: none;
	color: #ccc;
}
