@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    line-height: unset;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    line-height: unset;
}

body.dark {
    --bg-color: #0d1230;
    --text-color: #FFF5FD;
    --text-active-color: #ece5eb;
    color: var(--text-color);
}

.btn {
    font-weight: 550;
}

.btn-primary, 
.btn-primary:hover {
    color: var(--text-color);
}
