:root {
    --bg-color: #FFF5FD;
    --primary-color: #ff69b4;
    --primary-active-color: #ff4ea6;
    --primary-bg-color: #FF96AD;
    --secondary-color: #88E0EF;
    --secondary-active-color: #48e2fd;
    --secondary-bg-color: #b6f4ff;
}
